#home{
    background-image: url("../assets/black-friday-elements-assortment.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}



.section1 {
    display: flex;
    padding: var(--padding);
    flex-direction: column;
    letter-spacing: 1px; 
    top: 0%;

    >div {
        margin: 1vmax;
    }

    >div h1{
        font-size: 5rem;
        color: var(--white);
    }

    >div h3 {
        font-size: 2rem;
        color: var(--white);
    }
}

    button {
        margin: 0.5rem;
        width: 8rem;
        height: 100%;
        font-size: 0.875rem;
        padding: 1vmax;
        letter-spacing: 1px;
        border: 1px solid var(--white);  
        cursor: pointer;
        font-weight: bold;
    }

#btn1{
    background-color: transparent;
    color: var(--white);
}

#btn1:hover{
    background-color: var(--white);
    color: var(--black);
}

#btn2:hover{
    background-color: black;
    color: var(--white);
}



@media screen and (max-width:951px){

    #home{
        background-image: url("../assets/black-friday-elements-assortment.jpg");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 110vh;
        
        
    }

    .section1{

        >div {
            margin: 1vmax;
        }

        >div h1{
            font-size: 4rem;
            color: var(--white);
        }

        >div h3 {
            font-size: 1.8rem;
            color: var(--white);
        }
    }

}


@media screen and (max-width:900px){

    #home{
        background-image: url("../assets/black-friday-elements-assortment.jpg");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 90vh;
        
        
    }

    .section1{

        >div {
            margin: 1vmax;
        }

        >div h1{
            font-size: 4rem;
            color: var(--white);
        }

        >div h3 {
            font-size: 1.8rem;
            color: var(--white);
        }
    }

}


@media screen and (max-width: 786px) {
    #home{
        width: 100%;
        height: 50vh;
    }

    .section1{

        >div {
            margin: 1vmax;
        }

        >div h1{
            font-size: 3rem;
            color: var(--white);
        }

        >div h3 {
            font-size: 0.8rem;
            color: var(--white);
        }
    }
}



@media screen and (max-width: 632px) {
    #home{
        width: 100%;
        height: 40vh;
        background-size: cover;
    }

    .section1{
        margin-bottom: 3rem;
        >div {
            margin:1rem;
        }

        >div h1{
            font-size: 2rem;
            color: var(--white);
        }

        >div h3 {
            font-size: 0.8rem;
            color: var(--white);
        }
    }
}